.h2-decoration{
    color: whitesmoke;
}
.nav-decoration{
justify-content: center;
margin-bottom: 10px;
padding: 10px;
background-color: darkgray;
}
.h2-decoration:hover{
    color: rgb(217, 230, 254);
}